<page-header [autoBreadcrumb]="false">
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" #sf [schema]="searchSchema" (formSubmit)="submit(sf.value)" (formReset)="reset($event)"></sf>
  <st #st [data]="data" [columns]="columns" [scroll]="{x: '1600px'}" [pi]="pi" [ps]="ps" [page]="pages" [total]="total"  (change)="change($event)" >

    <ng-template st-row="custom"  let-item let-index="type" let-column="column" >
      {{ (item.type == 1)?"柴油":"汽油"}}
    </ng-template>
  </st>
</nz-card>
