<div class="modal-header">
  <div class="modal-title">查看 {{ record.name }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<sv-container col="3" *ngIf="i">
  <sv label="型号名称">{{ i.name }}</sv>
  <sv label="额定电功率(kW)">{{ i.ratedPower }}</sv>
  <sv label="耗电系数(%)">{{ i.powerFactor }}</sv>
  <sv label="综合部分负荷性能系数(IPLV)">{{ i.cop }}</sv>
  <sv label="寿命(年)">{{ i.lifeTime }}</sv>
  <sv label="制造商">{{ i.manufacturer }}</sv>
</sv-container>
<nz-card style="width:100%" nzTitle="经济曲线" *ngIf="i" style="margin-top: 24px;">
  <div nz-row>
    <div nz-col nzSpan="23">
      <v-chart [forceFit]="forceFit" [height]="height" [data]="data">
        <v-tooltip></v-tooltip>
        <v-axis dataKey="x" [title]="chart_title_x"></v-axis>
        <v-axis dataKey="cost_number" [title]="chart_title_y"></v-axis>
        <v-legend></v-legend>
        <v-line position="x*cost_number" color="cost_type"></v-line>
        <v-point position="x*cost_number" color="cost_type" [size]="4" [style]="style" shape="circle"></v-point>
      </v-chart>
    </div>
  </div>
</nz-card>
<div class="modal-footer">
  <button nz-button type="screw" (click)="close()">关闭</button>
</div>
