<form nz-form>
  <nz-card nzTitle="系统控制" class="lzw">

    <div nz-row *ngIf="radioValue === 'A'">
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzSpan="24"  nzFor="strategy_radioValue">运行策略</nz-form-label>
          <nz-form-control nzSpan="24">
            <nz-radio-group name="strategy_radioValue" [(ngModel)]="form_data.system.strategy_radioValue" [nzButtonStyle]="'solid'">
              <label nz-radio-button nzValue="strategy1">硬充电策略</label>
              <label nz-radio-button nzValue="strategy2" >平滑功率策略</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row *ngIf="radioValue === 'B'">
      <div nz-col [nzXs]="24" [nzMd]="8">
        <nz-form-item>
          <nz-form-label nzSpan="24"  nzFor="strategy_radioValue_all">运行策略</nz-form-label>
          <nz-form-control nzSpan="24">
            <nz-radio-group name="strategy_radioValue" id="strategy_radioValue" [(ngModel)]="form_data.system.strategy_radioValue" [nzButtonStyle]="'solid'">
              <label nz-radio-button nzValue="strategy0" nzDisabled>调度策略</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-card nzTitle="优化目标">
      <div nz-row>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24">
              <label nz-checkbox name="strategy_internal" [(ngModel)]="form_data.system.strategy_internal_rate[0]" >内部收益率</label>
            </nz-form-label>
            <nz-form-control nzSpan="24" *ngIf="form_data.system.strategy_internal_rate[0]">
              <nz-input-group  nzAddOnAfter="%" nzAddOnBefore="权重" style="width:80%">
                <input type="text" name="strategy_internal_rate" id="strategy_internal_rate" [(ngModel)]="form_data.system.strategy_internal_rate[1]" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24">
              <label nz-checkbox name="strategy_pollution" [(ngModel)]="form_data.system.strategy_pollution_rate[0]">污染物排放</label>
            </nz-form-label>
            <nz-form-control nzSpan="24" *ngIf="form_data.system.strategy_pollution_rate[0]">
              <nz-input-group  nzAddOnAfter="%" nzAddOnBefore="权重" style="width:80%">
                <input type="text" name="strategy_pollution_rate" id="strategy_pollution_rate" [(ngModel)]="form_data.system.strategy_pollution_rate[1]" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </nz-card>

    <nz-card nzTitle="主网购售电功率约束" *ngIf="radioValue === 'B'">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="buy_constraint_1">购电上限</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="kW" style="width:80%">
                <input type="text" name="buy_constraint_1" id="buy_constraint_1" [(ngModel)]="form_data.system.buy_constraint_1" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="sell_constraint_2">售电上限</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="kW" style="width:80%">
                <input type="text" name="sell_constraint_2" id="sell_constraint_2" [(ngModel)]="form_data.system.sell_constraint_2" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>

    <nz-card nzTitle="市政蒸汽" *ngIf="radioValue === 'B'">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="buy_constraint_1">单位价格</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/吨" style="width:80%">
                <input type="text" name="buy_constraint_1"  [(ngModel)]="form_data.system.price" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="sell_constraint_2">蒸汽比焓</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="KJ/吨" style="width:80%">
                <input type="text" name="sell_constraint_2" [(ngModel)]="form_data.system.steam" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="sell_constraint_2">换热效率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="sell_constraint_2" [(ngModel)]="form_data.system.efficiency" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="sell_constraint_2">购买上限</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="吨" style="width:80%">
                <input type="text" name="sell_constraint_2" [(ngModel)]="form_data.system.upper_limit" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="sell_constraint_2">购买下限</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="吨" style="width:80%">
                <input type="text" name="sell_constraint_2" [(ngModel)]="form_data.system.lower_limit" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>

  </nz-card>

  <nz-card nzTitle="经济参数" class="lzw">

    <nz-card nzTitle="系统经济参数">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_1">系统固定初始投资成本</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元" style="width:80%">
                <input type="text" name="system_economy_1" id="system_economy_1" [(ngModel)]="form_data.economy.system_economy_1" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_2">燃气价格</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/m^3" style="width:80%">
                <input type="text" name="system_economy_2" id="system_economy_2" [(ngModel)]="form_data.economy.system_economy_2" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_3">汽油价格</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/L" style="width:80%">
                <input type="text" name="system_economy_3" id="system_economy_3" [(ngModel)]="form_data.economy.system_economy_3" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_4">柴油价格</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/L" style="width:80%">
                <input type="text" name="system_economy_4" id="system_economy_4" [(ngModel)]="form_data.economy.system_economy_4" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_5">微网电价</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/kWh" style="width:80%">
                <input type="text" name="system_economy_5" id="system_economy_5" [(ngModel)]="form_data.economy.system_economy_5" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_5">变压器单位容量基本电费</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/kVA" style="width:80%">
                <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.system_economy_6" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_5">变压器容量</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/kVA" style="width:80%">
                <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.system_economy_7" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_5">蒸汽费用</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/kWh" style="width:80%">
                <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.system_economy_8" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_5">天然气低位发热量</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="KJ/m^3" style="width:80%">
                <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.system_economy_9" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_economy_5">天然气低位发热量</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="KJ/m^3" style="width:80%">
                <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.system_economy_9" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXs]="24" [nzMd]="24">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="strategy_radioValue">运行策略</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-radio-group name="strategy_radioValue"  [(ngModel)]="form_data.economy.system_economy_10" [nzButtonStyle]="'solid'">
                <label nz-radio-button nzValue="price" >按照冷/热负荷单价计价</label>
                <label nz-radio-button nzValue="area" >按照冷/热负荷建筑面积计价</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div *ngIf="form_data.economy.system_economy_10=='price'">
          <div nz-col [nzXs]="24" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzSpan="24"  nzFor="system_economy_5">热水费用</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-input-group  nzAddOnAfter="元/kWh" style="width:80%">
                  <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.price.cost_1" nz-input placeholder="0.00">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzSpan="24"  nzFor="system_economy_5">取冷费用</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-input-group  nzAddOnAfter="元/kWh" style="width:80%">
                  <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.price.cost_2" nz-input placeholder="0.00">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div *ngIf="form_data.economy.system_economy_10=='area'">
          <div nz-col [nzXs]="24" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzSpan="24"  nzFor="system_economy_5">热水供暖面积</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-input-group  nzAddOnAfter="m^2" style="width:80%">
                  <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.area.cost_1" nz-input placeholder="0.00">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzSpan="24"  nzFor="system_economy_5">面积热水价</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-input-group  nzAddOnAfter="元/m^2" style="width:80%">
                  <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.area.cost_2" nz-input placeholder="0.00">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzSpan="24"  nzFor="system_economy_5">供冷面积</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-input-group  nzAddOnAfter="m^2" style="width:80%">
                  <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.area.cost_3" nz-input placeholder="0.00">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzXs]="24" [nzMd]="8">
            <nz-form-item>
              <nz-form-label nzSpan="24"  nzFor="system_economy_5">面积冷价</nz-form-label>
              <nz-form-control nzSpan="24">
                <nz-input-group  nzAddOnAfter="元/m^2" style="width:80%">
                  <input type="text" name="system_economy_5"[(ngModel)]="form_data.economy.area.cost_4" nz-input placeholder="0.00">
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


      </div>
    </nz-card>

    <nz-card nzTitle="工程经济参数">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_1">贴现率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="engineering_economy_1" id="engineering_economy_1" [(ngModel)]="form_data.economy.engineering_economy_1" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_2">名义利率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="engineering_economy_2" id="engineering_economy_2" [(ngModel)]="form_data.economy.engineering_economy_2" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_3">通货膨胀率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="engineering_economy_3" id="engineering_economy_3" [(ngModel)]="form_data.economy.engineering_economy_3" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_4">项目建设期</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="年" style="width:80%">
                <input type="text" name="engineering_economy_4" id="engineering_economy_4" [(ngModel)]="form_data.economy.engineering_economy_4" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_5">银行长期贷款利率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="engineering_economy_5" id="engineering_economy_5" [(ngModel)]="form_data.economy.engineering_economy_5" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_6">初始投资资本金比例</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="engineering_economy_6" id="engineering_economy_6" [(ngModel)]="form_data.economy.engineering_economy_6" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_7">项目寿命周期</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="年" style="width:80%">
                <input type="text" name="engineering_economy_7" id="engineering_economy_7" [(ngModel)]="form_data.economy.engineering_economy_7" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="engineering_economy_8">银行还款期限</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="年" style="width:80%">
                <input type="text" name="engineering_economy_8" id="engineering_economy_8" [(ngModel)]="form_data.economy.engineering_economy_8" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
    </nz-card>

  </nz-card>

  <nz-card nzTitle="排放惩罚" class="lzw">

    <nz-card nzTitle="排放惩罚系数">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="emission_punishment_1">二氧化碳排放惩罚系数</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/吨" style="width:80%">
                <input type="text" name="emission_punishment_1" id="emission_punishment_1" [(ngModel)]="form_data.emission.emission_punishment_1" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="emission_punishment_2">一氧化碳排放惩罚系数</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/吨" style="width:80%">
                <input type="text" name="emission_punishment_2" id="emission_punishment_2" [(ngModel)]="form_data.emission.emission_punishment_2" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="emission_punishment_3">未燃烧碳氰化物排放惩罚系数</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/吨" style="width:80%">
                <input type="text" name="emission_punishment_3" id="emission_punishment_3" [(ngModel)]="form_data.emission.emission_punishment_3" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="emission_punishment_4">颗粒物排放惩罚系数</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/吨" style="width:80%">
                <input type="text" name="emission_punishment_4" id="emission_punishment_4" [(ngModel)]="form_data.emission.emission_punishment_4" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="emission_punishment_5">二氧化硫排放惩罚系数</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/吨" style="width:80%">
                <input type="text" name="emission_punishment_5" id="emission_punishment_5" [(ngModel)]="form_data.emission.emission_punishment_5" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="emission_punishment_6">氮氧化物排放惩罚系数</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="元/吨" style="width:80%">
                <input type="text" name="emission_punishment_6" id="emission_punishment_6" [(ngModel)]="form_data.emission.emission_punishment_6" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>

  </nz-card>

  <nz-card nzTitle="约束条件" class="lzw">

    <nz-card nzTitle="系统约束">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_constraint_1">最大容量缺失率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="system_constraint_1" id="system_constraint_1" [(ngModel)]="form_data.constraint.system_constraint_1" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="system_constraint_2">最小可再生能源渗透率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="system_constraint_2" id="system_constraint_2" [(ngModel)]="form_data.constraint.system_constraint_2" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>

    <nz-card nzTitle="备用系数">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="spare_constraint_1">光伏功率备用比例</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="spare_constraint_1" id="spare_constraint_1" [(ngModel)]="form_data.constraint.spare_constraint_1" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="spare_constraint_2">风机功率备用比例</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="spare_constraint_2" id="spare_constraint_2" [(ngModel)]="form_data.constraint.spare_constraint_2" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="spare_constraint_3">实时负荷备用率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="spare_constraint_3" id="spare_constraint_3" [(ngModel)]="form_data.constraint.spare_constraint_3" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="spare_constraint_4">峰值负荷备用率</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="%" style="width:80%">
                <input type="text" name="spare_constraint_4" id="spare_constraint_4" [(ngModel)]="form_data.constraint.spare_constraint_4" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>

  </nz-card>
</form>
