<div>
  <sf mode="search" #sf [schema]="searchSchema" (formSubmit)="submit(sf.value)" (formReset)="reset($event)"></sf>
  <st [data]="data" [columns]="columns"
      [pi]="params.pi" [ps]="params.ps" [total]="params.total" [page]="pages"
      (change)="change($event)" [scroll]="{x: '1400px'}" ></st>
</div>

<div nz-row  style="margin-top:18px">
  <div nz-col [nzXs]="24" [nzMd]="16">
    <nz-card  nzTitle="约束范围" style="border-top:none;margin-bottom: 0 !important">
      <div nz-row >
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="upper_limit">规模下限</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="台" style="width:80%">
                <input type="text" name="upper_limit" id="upper_limit" [(ngModel)]="result_data.capacityofNuclearPowerMinimum" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="8">
          <nz-form-item>
            <nz-form-label nzSpan="24"  nzFor="lower_limit">规模上限</nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-input-group  nzAddOnAfter="台" style="width:80%">
                <input type="text" name="lower_limit" id="lower_limit" [(ngModel)]="result_data.capacityofNuclearPowerMaximum" nz-input placeholder="0.00">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>
  </div>


  <nz-card  nzTitle="经济" nz-col [nzXs]="24" [nzMd]="8">
    <div nz-row id="div-test">
      <div nz-col [nzXs]="24" [nzMd]="24">
        <v-chart [forceFit]="forceFit" width="400" [height]="height" [data]="data1">
          <v-tooltip></v-tooltip>
          <v-axis dataKey="x" [title]="chart_title_x"></v-axis>
          <v-axis dataKey="cost_number" [title]="chart_title_y1"></v-axis>
          <v-legend></v-legend>
          <v-line position="x*cost_number" color="cost_type"></v-line>
          <v-point position="x*cost_number" color="cost_type" [size]="4" [style]="style" shape="circle"></v-point>
        </v-chart>
      </div>
    </div>
  </nz-card>

</div>
