<div class="modal-header">
  <div class="modal-title">查看 {{ record.name }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<sv-container col="3" *ngIf="i">
  <sv label="型号名称">{{ i.name }}</sv>
  <sv label="调频系数(%)">{{ i.frequencyModulationCoefficient }}</sv>
  <sv label="核燃料数量(根)">{{ i.quantityOfNuclearFuel }}</sv>
  <sv label="制造商">{{ i.manufacturer }}</sv>
  <sv label="最低负载率(%)">{{ i.minimuLoadRate }}</sv>
  <sv label="核燃料价格(元/根)">{{ i.nuclearFuelPrices }}</sv>
  <sv label="寿命(年)">{{ i.lifetime }}</sv>
  <sv label="核电发电占比上限(%)">{{ i.upperLimitOfNuclearPowerGeneration }}</sv>
  <sv label="核电燃料更换时间(年/次)">{{ i.nuclearPowerFuelReplacementTime }}</sv>
</sv-container>
<nz-card style="width:100%" nzTitle="核电机组经济曲线" *ngIf="i" style="margin-top: 24px;">
  <div nz-row>
    <div nz-col nzSpan="23">
      <v-chart [forceFit]="forceFit" [height]="height" [data]="data">
        <v-tooltip></v-tooltip>
        <v-axis dataKey="x" [title]="chart_title_x"></v-axis>
        <v-axis dataKey="cost_number" [title]="chart_title_y"></v-axis>
        <v-legend></v-legend>
        <v-line position="x*cost_number" color="cost_type"></v-line>
        <v-point position="x*cost_number" color="cost_type" [size]="4" [style]="style" shape="circle"></v-point>
      </v-chart>
    </div>
  </div>
</nz-card>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
