.text {
  max-height:300px;
  overflow: auto;
  padding: 8px;
}
.scrollbar {
  width : 30px;
  height: 300px;
  margin: 0 auto;
}
.text::-webkit-scrollbar {
  width : 5px;
  height: 1px;
}
.text::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
}
.text::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background   : #949494;
}
