.wangge {
  background-image: linear-gradient(90deg, rgba(235, 235, 235, 0.38) 10%, rgba(0, 0, 0, 0) 10%),
  linear-gradient(rgba(235, 235, 235, 0.38) 10%, rgba(0, 0, 0, 0) 10%);
  background-color: #fff;
  background-size: 17px 17px;
  width:515px;
  height: 680px;
}
/*
.rect-img:hover{
  stroke-opacity:0.5;
  stroke-width:1;
  stroke:black;
  fill-opacity:0.1;
  transition:all 200ms cubic-bezier(0.47,0,0.745,0.715) 0s;
}
*/

.diy-card{
  border-bottom:1px solid #e8e8e8;
  padding: 16px 24px
}

.checkbox-margin-bottom{
  margin-bottom: 5px;
}

.svg-border{
  border:1px solid #e8e8e8;
  width: 100%;
  height: 100%;
}
 svg .color1 path{
   fill: #4CB4E7;
   stroke: #4CB4E7;
 }
.color1{
  fill: #4CB4E7;
  stroke: #4CB4E7;
}

svg .color2 path{
  fill: #91BFBF;
  stroke: #91BFBF;
}
.color2{
  fill: #91BFBF;
  stroke: #91BFBF;
}
svg .color3 path{
  fill: #E6AABB;
  stroke: #E6AABB;
}
.color3{
  fill: #E6AABB;
  stroke: #E6AABB;
}
svg .color4 path{
  fill: #F0DF98;
  stroke: #F0DF98;
}
.color4{
  fill: #F0DF98;
  stroke: #F0DF98;
}
svg .color5 path{
  fill: #FCC689;
  stroke: #FCC689;
}
.color5{
  fill: #FCC689;
  stroke: #FCC689;
}
svg .color6 path{
  fill: #9CAEF0;
  stroke: #9CAEF0;
}
.color6{
  fill: #9CAEF0;
  stroke: #9CAEF0;
}
svg .color7 path{
  fill: #94A0B6;
  stroke: #94A0B6;
}
.color7{
  fill: #94A0B6;
  stroke: #94A0B6;
}

.name-label{
  width: 80px;
  display: inline-block;
  margin-left: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.name{
  box-sizing: border-box;
  border: none;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 30%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}

.name:focus{
  border-bottom: 1px solid #1890ff;
  width: 40%;
}
.name::-webkit-input-placeholder{
  color:rgba(0, 0, 0, 0.25);
}
.name::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:rgba(0, 0, 0, 0.25);
}
.name:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:rgba(0, 0, 0, 0.25);
}
.name:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:rgba(0, 0, 0, 0.25);
}


